*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: monospace;
    height: 100vh;
    background-image:url('https://i.pinimg.com/736x/12/d0/bd/12d0bdab5b66fa1efee75e4e240dff07.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
}



h1{
    font-size: 5rem;
    text-align: center;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 2rem;
}

a{
    font-size: 2.5rem;
}
