*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: monospace;
    width: 100vw;
    height: 100vh;
    color:white;
    background-image:url('https://i.pinimg.com/originals/f7/0f/c7/f70fc759c5c13493ca9e21862b914dbd.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
}



h1{
    margin: 10% 5% 2%;
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px rgba(255,79,255,1);
}

h2{
    font-size: 3rem;
}

p{
    font-size: 1.5rem;
}

a{
    font-size: 2.5rem;
}


.main-game--head{
    display: flex;
    justify-content: space-around;
    margin: 5% 3% 0;
    align-items: center;
}

.main-game--title{
    text-align: end;
}

.main-game--head img{
    width: 100%;
}

.main-game--description{

    width: 80%;
    margin: 10px auto 0;
}

.main-game--contain{
    text-align: center;
}

.main-game--description #btnLoad{
    position: absolute;
    width: 120px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 3px 29px 1px rgba(255,79,255,1);
    left: calc(50% - 60px);
    margin-top: 30px;
    background-color: black;
    color:white;
    padding: 2%;
}

a{
    margin-top: 10px;
    text-decoration: none;
    color:rgba(255,79,255,1);
}

footer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0;
}