*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: monospace;
}


h1{
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 2rem;
}

a{
    font-size: 2.5rem;
}